<div class="layout-container">

    <nav class="sidebar">
      <img src="../../../assets/WhatsApp_Image_2024-03-08_at_16.15.20-removebg-preview.png" alt="" width="150px">
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/estoque">Estoque</a></li>
        <li><a routerLink="/financas">Finanças</a></li>
      </ul>
    </nav>
  
    <main class="main-content">
      <router-outlet></router-outlet> <!-- Área onde as rotas serão carregadas -->
    </main>
  </div>
  