.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff; /* Fundo claro para contraste */
    color: #000000; /* Cor do texto em vermelho escuro */
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .welcome-message {
    max-width: 600px;
    margin-bottom: 20px;
  }
  
  .welcome-message h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .welcome-message p {
    font-size: 1.2em;
    margin: 5px 0;
  }
  
  .subtext {
    font-style: italic;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  img{
    position: relative;
    bottom: 50px;
    border: 2px solid #212529;
  }
  