<div class="layout">
  
  <aside class="sidebar">
    <img src="../../../assets/WhatsApp_Image_2024-03-08_at_16.15.20-removebg-preview.png" alt="" width="200px">
    <nav>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/financas">Finanças</a></li>
        <li><a routerLink="/estoque">Estoque</a></li>
        <li><a routerLink="/login">Login</a></li>
      </ul>
    </nav>
  </aside>
  <main class="content">
    <h2>Login</h2> 
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="username">Usuário:</label>
      <input type="text" id="username" formControlName="username">

      <label for="password">Senha:</label>
      <input type="password" id="password" formControlName="password">
    </form> 
    <button type="submit" >Entrar</button>
  
  </main>
</div>
