/* src/app/components/login/login.component.css */

/* Layout principal */
.layout {
  display: flex;
  height: 100vh;
}

/* Barra lateral */
.sidebar {
  min-width: 220px;
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #e0e0e0;
}

.sidebar img {
  background-color: white;
  border: 2px solid red;
  border-radius: 10px;
  width: 180px;
  margin-bottom: 20px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar nav ul li {
  margin: 10px 0;
}

.sidebar nav ul li a {
  color: #D32F2F;
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 10px;
  border-radius: 5px;
  background-color: #444;
  text-align: center;
  transition: background-color 0.3s ease;
}

.sidebar nav ul li a:hover {
  background-color: #555;
}

/* Conteúdo principal */
.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f7f7f7;
}

/* Título de login */
.content h2 {
  font-size: 1.8em;
  color: #D32F2F;
  margin-bottom: 20px;
}

/* Estilo do formulário */
form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

input {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

/* Botão de envio */
button {
  padding: 10px;
  background-color: #D32F2F;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #C62828;
}
